<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @post.fb_id %>
</p>

<p>
  <strong>Updated time:</strong>
  <%= @post.updated_time %>
</p>

<p>
  <strong>Group:</strong>
  <%= @post.group %>
</p>

<%= link_to 'Back', posts_path %>
